@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Glancyr";
    src: url("./fonts/Glancyr-Regular.otf");
}

@font-face {
    font-family: 'Glancyr';
    src: url('/fonts/Glancyr-ThinItalic.otf') format('opentype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Glancyr';
    src: url('/fonts/Glancyr-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Glancyr';
    src: url('/fonts/Glancyr-BoldItalic.otf') format('opentype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Glancyr';
    src: url('/fonts/Glancyr-ExtraLight.otf') format('opentype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Glancyr';
    src: url('/fonts/Glancyr-ExtraLightItalic.otf') format('opentype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Glancyr';
    src: url('/fonts/Glancyr-Italic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Glancyr';
    src: url('/fonts/Glancyr-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Glancyr';
    src: url('/fonts/Glancyr-LightItalic.otf') format('opentype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Glancyr';
    src: url('/fonts/Glancyr-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Glancyr';
    src: url('/fonts/Glancyr-MediumItalic.otf') format('opentype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Glancyr';
    src: url('/fonts/Glancyr-SemiBold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Glancyr';
    src: url('/fonts/Glancyr-SemiBoldItalic.otf') format('opentype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Glancyr';
    src: url('/fonts/Glancyr-Thin.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
}


* {
    color: white;
    background-color: #1E0221;
    font-family: 'Bricolage Grotesque';
    height: auto;
}

h1, h2, h3, .glancyr {
    font-family: 'Glancyr', sans-serif;
}

.buttons {
    border-radius: 100px;
    font-family: 'Bricolage Grotesque';
}

.header {
    color: white;
    width: 1640px;
    height: 100px;
    top: 48px;
    border-radius: 100px;
    position: absolute;
    margin: auto 14px;
    border-radius: 100px;
    background: #300335;
    /* mix-blend-mode: overlay; */
}

.nav-links{
    background-color: transparent;
}

.header-button {
    background: linear-gradient(180deg, #690571 0%, rgba(250, 100, 0, 0.50) 277.78%);
    display: flex;
    width: 220px;
    height: 72px;
    padding: 24px 40px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
}

.download-button {
    border-radius: 100px;
    border: 1px solid #690571;
    background: #33023B; 
}